body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
    background-color: white;
}

/* Header where links are included*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px 40px;
}
.header-left {
    display: flex;
}
.header-left p {
    font-weight: 900;
    font-size: 24px;
    color: white;
}
.header-left img {
    max-width: 100px;
}
.header-right {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.header-right a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}


/* main-info */
.main-info {
    display: flex;
    background-color: #1F2937;
}
.main-info img {
    padding: 100px 150px;
    padding-left: 30px;
    max-width: 370px;
    height: auto;
}
.main-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 40px;
}
.main-info-text h1 {
    font-weight: 400;
    font-size: 48px;
    color: #F9FAF8;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-info-text p {
    text-align: justify;
    font-size: 18px;
    color: #F9FAF8;
}
button {
    background-color: #3882F6;
    padding: 10px 35px;
    margin: 10px;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    margin-left: 0px;
}


/* Benefits section */
.benefits-title {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 30px;
}
.benefits {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card {
    padding: 15px;
    max-width: 200px;
}
.card img {
    width: 160px;
    height: 150px;
}
.card p {
    text-align: justify;
}
.benefits-container {
    padding: 100px;
}


/* Quote section */
.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 230px
}
.quote-text {
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quote-name {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: flex-end;
}